<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet" href="css/altacita.css">

<title>Alta Cita</title>

</head>

<body>
	<div align="center">
    <h1>Registre su cita</h1>
    <form action="#" th:action="@{/registrarCita}" method="post" th:object="${cita}">
    
        <label>Consultorio:</label>
        <select th:field="*{consultorio}">
            <option th:each="p : ${listConsultorios}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>
    
    
        <label>Doctor:</label>
        <select th:field="*{doctor}">
            <option th:each="p : ${listDoctores}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>
 
        <label>Horario de consulta</label>
        <input  type="datetime-local"  th:field="*{fecha}" /><br/>
 
        <label>Nombre del paciente:</label>
        <input type="text" th:field="*{paciente}" /><br/>
 
        <br/>
 
        <button type="submit">Generar Cita</button>    
    </form>
</div>


</body>